<<<<<<< HEAD
﻿﻿<p>
    <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;  Create New </a>
</p>
=======
﻿
<a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i> &nbsp; Create New</a>
>>>>>>> c3c46588479ba917fe066dd902d6370d0ae73074
